
.layout {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    gap: 20px;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    align-items: center;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.content {
    overflow: auto;
}