<div
  *ngIf="!fetching"
  class="box raise-m no-select clickable"
  (click)="openDetail()"
>
  <div class="layout">
    <app-pie-chart
      [value]="data.invest"
      [maxValue]="data.account"
      icon="fi fi-rr-money"
      [color]="colors.$metalGray"
      [bgColor]="colors.$bgLevel2"
      [lineColor]="colors.$bgLevel3"
    ></app-pie-chart>
    <p class="label-s uppr">Cobrar</p>
  </div>
  <p class="txt-m c-primary">
    <app-currency [number]="data.invest" currency="EUR"></app-currency>
  </p>
  <p class="label-xxs fit-down">Rendimiento Mes</p>
  <p class="txt-l c-success">
    +<app-currency [number]="data.benefit" currency="EUR"></app-currency>
  </p>
</div>

<div
  *ngIf="fetching && loaded"
  style="opacity: 0.8"
  class="box raise-m no-select"
>
  <div class="layout">
    <p-skeleton
      [style]="{ backgroundColor: colors.$bgLevel3, opacity: '0.5' }"
      shape="circle"
      size="50px"
    ></p-skeleton>
    <p-skeleton
      [style]="{ backgroundColor: colors.$bgLevel3, opacity: '0.5' }"
      height="24px"
      width="100%"
    ></p-skeleton>
  </div>
  <p-skeleton
    [style]="{ backgroundColor: colors.$bgLevel3, opacity: '0.5' }"
    height="20px"
    width="130px"
  ></p-skeleton>
  <div class="m-3"></div>
  <p-skeleton
    [style]="{ backgroundColor: colors.$bgLevel3, opacity: '0.5' }"
    height="5px"
    width="110px"
  ></p-skeleton>
  <div class="m-1"></div>
  <p-skeleton
    [style]="{ backgroundColor: colors.$bgLevel3, opacity: '0.5' }"
    height="34px"
    width="120px"
  ></p-skeleton>
  <div class="m-1"></div>
</div>
