$graphiteLight: #414141;
$graphite: #343434;
$graphiteDark: #2b2b2b;

$goldLight: #d7b653;
$gold: #B49845;
$goldDark: #8f7a39;

$metalGrayLight: #d7d7d7;
$metalGray: #BDBDBD;
$metalGrayDark: #525252;

$copperLight: #ce8021;
$copper: #A6691F;
$copperDark: #825116;

$goldenFleece: #F2D399;

$fontFamily: 'Poppins', sans-serif;
$fontSize: 1.25em;

$fontColorPrimary: rgb(216, 216, 216);
$fontColorSecondary: rgb(147, 147, 147);



// AMARILLENTO
/*

$bgLevel1: #1f1f1f;
$bgLevel2: #262626;
$bgLevel3: #343434;

*/

// AZULADO
$bgLevel1: #1f2021;
$bgLevel2: #2a2b2d;
$bgLevel3: #343434;

$inputBg: $bgLevel2;//$graphiteLight;

$errorColor: #e95050;
$successColor: #64bb67;
$successColorLight: #92dc94;
$warningColor: #ffa927;

$infoColorLight: rgb(126, 181, 240);
$infoColor: rgb(40, 87, 206);

